<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>                   
        </dl>

        <% if current_user %>
          <h3 class="text-center">Leave a Review!!</h3>
            <%= form_for [@product, @reviews.new] do |f| %>
                <%= f.label :description %>
                <%= f.text_field :description %>
                <%= f.label :rating %>
                <%= f.select :rating, [ '1', '2', '3', '4', '5' ], :prompt => 'Select One' %>
                <%= submit_tag "Post Review", class: 'btn btn-primary' %>
            <% end %>
        <% end %>

        <h3 class="text-center">Reviews</h3>
          <% @reviews.reverse.each do |review| %>
            <dl class="dl-horizontal review-box">
            <dt>Reviewed By</dt>
            <dd><%= review.user.name %></dd>
            <dd style="margin-left: 185px;"><%= review.description %></dd>
            <dt>Rating</dt>
            <dd><%= review.rating %>/5</dd>

            <% if current_user and current_user.id === review.user.id %>
              <dd style="margin-left: 80%;">
              <%= submit_tag "Delete", class: 'btn btn-danger' %>
              </dd>
            <% end %>

            </dl>
          <% end %>

      </div>

    </div>

  </article>

</section>
